.App {
  text-align: center;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.grid li{
  list-style: none;
}

.paginaco{
  display: flex;
  list-style: none;
}
.paginaco li + li{
  margin-left: 10px;
}

.paginaco__iten--active{
  background: none;
  border: none;
  font-weight: bold;
}